@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');
body {
  font-family: 'Old Standard TT', serif;
  background-color: #FDF1E8;
  color: red;
  padding: 40px;
  overflow-x: hidden;
}
a {
  text-decoration: none; }

/* unvisited link */
a:link {
  color: red;
  text-decoration: none;
  font-family: 'Old Standard TT', serif;
}

/* visited link */
a:visited {
  color: red;
  text-decoration: none;
  font-family: 'Old Standard TT', serif;
}

/* mouse over link */
a:hover {
  color: red;
  text-decoration: none;
  font-family: 'Old Standard TT', serif;
}

/* selected link */
a:active {
  color: #000000;
  text-decoration: none;
  font-family: 'Old Standard TT', serif;
}

::selection {
  color: red;
  background:#F8E6E0;
}


#myBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 55px;
  z-index: 99;
  font-size: 50px;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 0px;
  border-radius: 0px;
}

#myBtn:hover {
  background-color: transparent;
}

b {
  font-weight: 700;
}

body::-webkit-scrollbar {
    width: 0.6em;
    background-color: #000000;
}

body::-webkit-scrollbar-track {
    background-color: #ffffff;
}

body::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 30px;
  -webkit-box-shadow: inset 0 0 0px #ffffff;
  outline: 4px solid 0px;
}

ol {
  padding-left: 1.2em;
}

.header {
  text-align: center;
  margin:0 auto;
  width: 60%;
}

.parent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;margin:0 auto;
  width:100%;
height:100%;
}


.title {
  text-align: left;
  margin:0 auto;
  font-family: 'Homemade Apple', cursive;
  color: red;
  width: 60%;
  font-size: 30pt;
  line-height: 1.8em;
}

.name {
  text-align: right;
  margin:0 auto;
  margin-top: 2%;
  font-family: 'Syne Tactile', cursive;
  font-size: 20pt;
  color: red;
  width: 60%;
}


.content {
  position: relative;
  height: auto;
font-size: 20pt;
font-family: 'Old Standard TT', serif;
font-weight: 300;
width: 60%;
margin-left: auto;
margin-right: auto;
}




.grid-item:hover{
opacity:0.7;
-moz-transform: scale(1.07);
  -webkit-transform: scale(1.07);
  transform: scale(1.07);
}

.grid-item h2 {
margin-top: 0px;
z-index: 100;
}

.textWithBlurredBg:hover :not(img){
    opacity:1;
  }

  .panel,.flip {
    padding: 0px;
    text-align: center;
    border: solid 0px #c3c3c3;
    font-size: 30pt;
    width: 100%;
  }

  .panel {
    padding: 10px;
    display: none;
  font-size: 20pt;
    text-align: left;
  font-family: 'Old Standard TT', serif;
  font-weight: 300;
  width: 100%;
  }




  @media screen and (max-width: 600px) {

    .header {
      text-align: center;
      margin:0 auto;
      width: 100%;
    }

    .title {
      text-align: left;
      margin:0 auto;
      margin-top: -25px;
      font-family: 'Homemade Apple', cursive;
      color: red;
      width: 100%;
      font-size: 20pt;
      line-height: 1.8em;
    }

    .name {
      text-align: right;
      margin:0 auto;
      margin-top: 2%;
      font-family: 'Syne Tactile', cursive;
      font-size: 18pt;
      color: red;
      width: 100%;
    }

    .content {
      position: relative;
      height: auto;
    font-size: 20pt;
    font-family: 'Old Standard TT', serif;
    font-weight: 300;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    }

    .panel,.flip {
      padding: 0px;
      text-align: center;
      border: solid 0px #c3c3c3;
      font-size: 18pt;
      width: 95%;
    }

    .panel {
      padding: 10px;
      display: none;
    font-size: 14pt;
      text-align: left;
    font-family: 'Old Standard TT', serif;
    font-weight: 300;
    width: 95%;
    }

    .responsive {
  width: 100%;
  height: auto;
}

}


  }
