@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,300;0,400;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');
@charset "UTF-8";
:root {
  --color_base: #191919;
  --color_pen: #fff;
  --size: 20vmin;
  --fog: calc(var(--size) / 1.2);
  --scale: 4.8;
}

.p-flex {
  display: flex;
}

body {
  font-family: 'Old Standard TT', serif;
  background-color: #feefe5;
  color: #aa2724;
  padding: 0px;
  overflow-x: hidden;
  margin-top: 20px;
}

sup {
  font-size: 10pt;
}

a.footnote {
  font-size: 12pt;
   text-decoration:none;
   background-color: #feefe5;
   padding-left: 2px;
   padding-right: 2px;
   margin-right: 2px;
   -webkit-transition: all 2s ease;
   -moz-transition: all 2s ease;
   -o-transition: all 2s ease;
   transition: all 2s ease;
}

a.footnote span {
  font-size: 12pt;
   z-index: -1;
   opacity: 0;
   position: fixed;
   left: 40px;
   bottom: 40px;
   margin-left: 0px;
   margin-right: 18px;
   padding:14px 20px;
   border-radius:4px;
   border:2px solid #aa2724;
   background-color: #feefe5;
   -webkit-transition: all 2s ease;
   -moz-transition: all 2s ease;
   -o-transition: all 2s ease;
   transition: all 2s ease;
}

a.footnote:hover span {
  font-size: 12pt;
   z-index: 9;
   opacity: 1;
   -webkit-transition: all 2s ease;
   -moz-transition: all 2s ease;
   -o-transition: all 2s ease;
   transition: all 2s ease;
}



a {
  text-decoration: none;
}

/* unvisited link */
a:link {
  color: #aa2724;
  text-decoration: none;
  font-family: 'Old Standard TT', serif;
}

/* visited link */
a:visited {
  color: #aa2724;
  text-decoration: none;
  font-family: 'Old Standard TT', serif;
}

/* mouse over link */
a:hover {
  color: #aa2724;
  text-decoration: none;
  font-family: 'Old Standard TT', serif;
}

/* selected link */
a:active {
  color: #000000;
  text-decoration: none;
  font-family: 'Old Standard TT', serif;
}


::selection {
  color: #aa2724;
  background: #F8E6E0;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 40px;
  z-index: 99;
  font-size: 50px;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 0px;
  border-radius: 0px;
}

#myBtn:hover {
  background-color: transparent;
}


b {
  font-weight: 700;
}


ol {
  padding-left: 1.2em;
}


.halloctober {
  width: 100%;
  height: 100%;
  margin-top: 30px;
}
.halloctober__banner {
  margin: auto;
  padding: 0px;
    height: 100%;
  position: relative;
  overflow: hidden;
}

.typo {
    height: 100%;
  cursor: default;
  font-family: 'Cardo', serif;
    color: #aa2724;
  font-size: 50pt;
  font-weight: normal;
  width: 60%;
  letter-spacing: 0.1rem;
  margin: auto;
  outline: none;
  position: relative;
  transform: skew(10deg, 2deg);
  -webkit-animation: float 5s ease-in-out infinite;
          animation: float 5s ease-in-out infinite;
}
.typo:hover + .fog {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.typo::before, .typo::after {
  color: transparent;
  content: "I’ve Smelled the Blood, That Touches My Tongue.";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}
.typo::before {
  -webkit-animation: move_upper_shadow 5s ease-in-out infinite;
          animation: move_upper_shadow 5s ease-in-out infinite;
  opacity: 0;
  text-shadow: 6px 0 2px rgba(179, 8, 8, 0.4), 12px 0 2px rgba(26, 35, 126, 0.3);
}
.typo::after {
  -webkit-animation: move_bottom_shadow 5s ease-in-out infinite;
          animation: move_bottom_shadow 5s ease-in-out infinite;
  text-shadow: 2px 4px 2px rgba(179, 8, 8, 0.4), 4px 8px 2px rgba(26, 35, 126, 0.3);
}
@-webkit-keyframes move_upper_shadow {
  0%, 90%, 100% {
    opacity: 0;
    transform: translateX(-2%);
  }
  30% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes move_upper_shadow {
  0%, 90%, 100% {
    opacity: 0;
    transform: translateX(-2%);
  }
  30% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes move_bottom_shadow {
  0%, 90%, 100% {
    opacity: 1;
    transform: translate(0, 0);
  }
  30% {
    opacity: 0;
    transform: translateY(-3.5%);
  }
}
@keyframes move_bottom_shadow {
  0%, 90%, 100% {
    opacity: 1;
    transform: translate(0, 0);
  }
  30% {
    opacity: 0;
    transform: translateY(-3.5%);
  }
}
@-webkit-keyframes float {
  50% {
    transform: scaleY(1.01) skew(-10deg, -2deg);
  }
}
@keyframes float {
  50% {
    transform: scaleY(1.01) skew(-10deg, -2deg);
  }
}
@media (prefers-reduced-motion: reduce) {
  .typo {
    -webkit-animation: none;
            animation: none;
    transform: none;
  }
  .typo::before, .typo::after {
    -webkit-animation: none;
            animation: none;
  }
}


.blood {
  position: absolute;
  z-index: -100;

}
.note {
  font-size: 12pt;
  color: #aa2724;
line-height: normal;
}

.left{
  background-color:#feefe5;
  margin-top: 0px;
  padding: 0px;
  width: 40%;
  height: 100%;
  position: fixed;
  font-weight: 400;
  float: left;
  overflow-y: hidden;
  overflow-x: hidden;
}


.middle {
  padding: 0px;
    margin-top: 0px;
  width: 60%;
  vertical-align: top;
  z-index: -100;
float: right;
    overflow: hidden;
}

.content {
  position: relative;
  margin-top: 20px;
  height: auto;
  font-size: 20pt;
  font-family: 'Old Standard TT', serif;
  font-weight: 300;
  width: 90%;
  margin-left: 31px;
}


.grid-item:hover {
  opacity: 0.7;
  -moz-transform: scale(1.07);
  -webkit-transform: scale(1.07);
  transform: scale(1.07);
}

.grid-item h2 {
  margin-top: 0px;
  z-index: 100;
}

.textWithBlur#aa2724Bg:hover :not(img) {
  opacity: 1;
}

.panel, .flip {
  padding: 5px 0px;
  text-align: left;
  border: solid 0px #feefe5;
  font-size: 24pt;
  line-height: 1.4em;
  width: 95%;
font-family: 'Cardo', serif;
font-weight: 400;
  background-color: transparent;
}

.panel {
  padding: 0px;
  margin-right: 15px;

  margin-top: -15px;
  display: none;
  font-size: 18pt;
  text-align: left;
  font-family: 'Old Standard TT', serif;
  font-weight: 300;
  width: 95%;
  line-height: 1.2em;
  background-color: transparent;
}

.secret {
  padding: 10px;
  margin-top: -15px;
  display: none;
  font-size: 20pt;
  text-align: left;
  font-family: 'Old Standard TT', serif;
  font-weight: 300;
  width: 100%;
  background-color: transparent;
}


p {
  margin: 0;
}
@-webkit-keyframes squiggly-anim {
  0% {
    filter: url("#squiggly-0");
  }
  25% {
    filter: url("#squiggly-1");
  }
  50% {
    filter: url("#squiggly-2");
  }
  75% {
    filter: url("#squiggly-3");
  }
  100% {
    filter: url("#squiggly-4");
  }
}
@keyframes squiggly-anim {
  0% {
    filter: url("#squiggly-0");
  }
  25% {
    filter: url("#squiggly-1");
  }
  50% {
    filter: url("#squiggly-2");
  }
  75% {
    filter: url("#squiggly-3");
  }
  100% {
    filter: url("#squiggly-4");
  }
}




@media screen and (max-width: 700px) {


  .halloctober {
    width: 100%;
    height: 100%;
    margin-top: 30px;
  }
  .halloctober__banner {
    margin: auto;
    padding: 0px;
      height: 100%;
    position: relative;
    overflow: hidden;
  }

  .typo {
      height: 100%;
    cursor: default;
    font-family: 'Cardo', serif;
      color: #aa2724;
    font-size: 50pt;
    font-weight: normal;
    width: 60%;
    letter-spacing: 0.1rem;
    margin: auto;
    outline: none;
    position: relative;
    transform: skew(10deg, 2deg);
    -webkit-animation: float 5s ease-in-out infinite;
            animation: float 5s ease-in-out infinite;
  }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 30px;
    margin-right: -10px;
    width: 70px;
    z-index: 99;
    font-size: 50px;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 0px;
    border-radius: 0px;
  }

  #myBtn:hover {
    background-color: transparent;
  }


  .left{
    padding: 20px;
    margin-top: -25px;
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    overflow-x: hidden;
    overflow-y: visible;
    font-family:'Noto Serif', serif;
    font-size: 14pt;
    line-height: 1.2;
  }

  .middle {
    padding: 0px;
      margin-top: 0px;
    width: 100%;
    vertical-align: top;
    z-index: -100;
  float: right;
      overflow: hidden;
      position: relative;
      display: block;
  }


  .content {
    position: relative;
    height: auto;
    font-size: 20pt;
    font-family: 'Cardo', serif;
    font-weight: 300;
    width: 100%;
    margin-left: 20px;
    margin-right: 0px;
    margin-top: 20px;
  }

  .panel, .flip {
    padding: 10 10px;
    text-align: left;
    border: solid 1px #feefe5;
    font-size: 20pt;
    width: 87.5%;
    line-height: 1.4em;
  }

  .panel {
    padding: 0px;
    margin-top: -15px;
    display: none;
    font-size: 14pt;
    text-align: left;
    font-family: 'Old Standard TT', serif;
    font-weight: 300;
    width: 87.5%;
  }


  a.footnote {
    font-size: 12pt;
     text-decoration:none;
     background-color: #feefe5;
     padding-left: 2px;
     padding-right: 2px;
     margin-right: 2px;
     -webkit-transition: all 2s ease;
     -moz-transition: all 2s ease;
     -o-transition: all 2s ease;
     transition: all 2s ease;
  }

  a.footnote span {
    font-size: 12pt;
     z-index: -1;
     opacity: 0;
     position: fixed;
     bottom: 30px;
     width: 82%;
     margin-left: -20px;
     margin-right: 10px;
     padding:14px 20px;
     border-radius:4px;
     border:2px solid #aa2724;
     background-color: #feefe5;
     -webkit-transition: all 2s ease;
     -moz-transition: all 2s ease;
     -o-transition: all 2s ease;
     transition: all 2s ease;

  }

  a.footnote:hover span {
    font-size: 12pt;
     z-index: 9;
     opacity: 1;
     -webkit-transition: all 2s ease;
     -moz-transition: all 2s ease;
     -o-transition: all 2s ease;
     transition: all 2s ease;
  }

  .responsive {
    width: 100%;
    height: auto;
  }

  .secret {
    padding: 10px;
    margin-top: -15px;
    display: none;
    font-size: 10pt;
    text-align: left;
    font-family: 'Old Standard TT', serif;
    font-weight: 300;
    width: 100%;
    background-color: transparent;
  }
}
