@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,300;0,400;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');


body {
  font-family: 'Old Standard TT', serif;
  background-color: #feefe5;
  color: #aa2724;
  padding: 0px;
  overflow-x: hidden;
  margin-top: 25px;
}

a {
  text-decoration: none;
}

/* unvisited link */
a:link {
  color: #aa2724;
  text-decoration: none;
  font-family: 'Old Standard TT', serif;
}

/* visited link */
a:visited {
  color: #aa2724;
  text-decoration: none;
  font-family: 'Old Standard TT', serif;
}

/* mouse over link */
a:hover {
  color: #aa2724;
  text-decoration: none;
  font-family: 'Old Standard TT', serif;
}

/* selected link */
a:active {
  color: #000000;
  text-decoration: none;
  font-family: 'Old Standard TT', serif;
}


::selection {
  color: #aa2724;
  background: #F8E6E0;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 40px;
  z-index: 99;
  font-size: 50px;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 0px;
  border-radius: 0px;
}

#myBtn:hover {
  background-color: transparent;
}


b {
  font-weight: 700;
}


ol {
  padding-left: 1.2em;
}

.header {
  text-align: center;
  margin: 0 auto;
  width: 60%;
}



.title {
  -webkit-animation: squiggly-anim 1.2s linear infinite;
          animation: squiggly-anim 0.7s linear infinite;
}

.title {
  text-align: left;
  font-family: 'Cardo', serif;
  color: #aa2724;
  margin-top: 30px;
  margin-left: 30px;
  width: 100%;
  font-size: 50pt;
  line-height: 1.1em;

}


#title2 {
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
}

#title2:first-of-type {    /* For increasing performance
                       ID/Class should've been used.
                       For a small demo
                       it's okaish for now */
  animation: showup 10s infinite;
}

#title2:last-of-type {
  width:0px;
  animation: reveal 10s infinite;
}

#title2:last-of-type span {
  margin-left:-355px;
  animation: slidein 7s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
}


.note {
  font-size: 12pt;
  color: #aa2724;
line-height: normal;
}

.left{
  background-color:#feefe5;
  margin-top: -25px;
background-size: auto 100%;
background-repeat: no-repeat;
  padding: 0px;
  width: 35%;
  height: 100%;
  position: fixed;
  font-weight: 400;
  float: left;
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: 'Noto Serif', serif;
font-size: 14pt;
}




.name {
  text-align: left;
  margin: 0 auto;
  margin-top: 50px;
  margin-left: 32px;
  font-family: 'Cardo', serif;
  font-size: 18pt;
  color: #aa2724;
  width: 100%;
}

.middle {
  padding: 0px;
    margin-top: -10px;
  width: 65%;
  vertical-align: top;
  z-index: -100;
float: right;
    overflow: hidden;
}

.content {
  position: relative;
  margin-top: 20px;
  height: auto;
  font-size: 20pt;
  font-family: 'Old Standard TT', serif;
  font-weight: 300;
  width: 90%;
  margin-left: 31px;
}


.grid-item:hover {
  opacity: 0.7;
  -moz-transform: scale(1.07);
  -webkit-transform: scale(1.07);
  transform: scale(1.07);
}

.grid-item h2 {
  margin-top: 0px;
  z-index: 100;
}

.textWithBlur#aa2724Bg:hover :not(img) {
  opacity: 1;
}

.panel, .flip {
  padding: 5px 10px;
  text-align: left;
  border: solid 0px #feefe5;
  font-size: 24pt;
  line-height: 1.4em;
  width: 99%;
font-family: 'Cardo', serif;
font-weight: 400;
  background-color: transparent;
}

.panel {
  padding: 10px;
  margin-top: -15px;
  display: none;
  font-size: 18pt;
  text-align: left;
  font-family: 'Old Standard TT', serif;
  font-weight: 300;
  width: 99%;
  line-height: 1.2em;
  background-color: transparent;
}

.secret {
  padding: 10px;
  margin-top: -15px;
  display: none;
  font-size: 20pt;
  text-align: left;
  font-family: 'Old Standard TT', serif;
  font-weight: 300;
  width: 100%;
  background-color: transparent;
}


p {
  margin: 0;
}
@-webkit-keyframes squiggly-anim {
  0% {
    filter: url("#squiggly-0");
  }
  25% {
    filter: url("#squiggly-1");
  }
  50% {
    filter: url("#squiggly-2");
  }
  75% {
    filter: url("#squiggly-3");
  }
  100% {
    filter: url("#squiggly-4");
  }
}
@keyframes squiggly-anim {
  0% {
    filter: url("#squiggly-0");
  }
  25% {
    filter: url("#squiggly-1");
  }
  50% {
    filter: url("#squiggly-2");
  }
  75% {
    filter: url("#squiggly-3");
  }
  100% {
    filter: url("#squiggly-4");
  }
}




@media screen and (max-width: 700px) {

  #myBtn {
    display: none;
    position: fixed;
    bottom: 30px;
    margin-right: 10px;
    width: 70px;
    z-index: 99;
    font-size: 50px;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 0px;
    border-radius: 0px;
  }

  #myBtn:hover {
    background-color: transparent;
  }


  .left{
    padding: 20px;
background-color: #feefe5;
    margin-top: -25px;
    margin-bottom: 10px;
    width: 100%;
    height: 40%;
    position: relative;
    display: block;
    overflow-x: hidden;
    overflow-y: visible;
    font-family:'Noto Serif', serif;
    font-size: 14pt;
    line-height: 1.2;
  }

  .middle {
    padding: 0px;
      margin-top: -10px;
    width: 100%;
    vertical-align: top;
    z-index: -100;
  float: right;
      overflow: hidden;
      position: relative;
      display: block;
  }

  .header {
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }


  .title {
    text-align: left;
    margin-top: 0px;
    margin-left: 0px;
    font-family: 'Cardo', serif;
    color: #aa2724;
    width: 80%;
    font-size: 40pt;
    line-height: 1.2em;
  }


  .name {
    text-align: left;
    margin: 0 auto;
    margin-left: 15px;
    margin-top: 40px;
    font-family: 'Cardo', serif;
    font-size: 14pt;
    color: #aa2724;
    width: 100%;
  }

  .content {
    position: relative;
    height: auto;
    font-size: 20pt;
    font-family: 'Cardo', serif;
    font-weight: 300;
    width: 100%;
    margin-left: 20px;
    margin-right: 0px;
    margin-top: 20px;
  }

  .panel, .flip {
    padding: 10 10px;
    text-align: left;
    border: solid 1px #feefe5;
    font-size: 20pt;
    width: 87.5%;
    line-height: 1.4em;
  }

  .panel {
    padding: 10px;
    margin-top: -15px;
    display: none;
    font-size: 12pt;
    text-align: left;
    font-family: 'Old Standard TT', serif;
    font-weight: 300;
    width: 87.5%;
  }

  .responsive {
    width: 100%;
    height: auto;
  }

  .secret {
    padding: 10px;
    margin-top: -15px;
    display: none;
    font-size: 10pt;
    text-align: left;
    font-family: 'Old Standard TT', serif;
    font-weight: 300;
    width: 100%;
    background-color: transparent;
  }
}
